html {
  font-size: 62.5%;
}
body {
	font-size: 1rem;
	font-family: "Noto Serif JP";
	color: #39393B;
	background-color: #F8F7F5;

}

img {
	display: block;
	max-width: 100%;
}
li {
	list-style: none;
}