$breakpoints: (
  sm: "screen and (max-width: 375px)",
  md: "screen and (max-width: 850px)",
  lg: "screen and (max-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
	}
}