.concept {
	margin-top: 140px;
	padding-bottom: 203px;

	@include mq(sm) {
		padding-bottom: 100px;
	}

	&__wrapper{
		display: flex;

		@include mq(sm) {
			display: flex;
			flex-direction: column;
		}
	}

	&__img {
		background-image: url(./img/conce.jpg);
		background-size: cover;
		height: 420px;
		width: 550px;
		margin-right: 120px;
		vertical-align: bottom;
		object-fit: cover;

		@include mq(sm) {
			width: 375px;
			height: 200px;
			margin-top: -60px;
		}
	}
	&__title--en {
		font-size: 1.4rem;
		font-family: "Libre Baskerville";
		letter-spacing: 0.28em;
		margin-top: 50px;
	}
	&__title--ja {
		font-size: 3.6rem;
		font-family: "Noto Sans JP";
		font-weight: 200;
		letter-spacing: 0.22em;
		margin-top: -10px;

		@include mq(sm) {
			font-size: 3.2rem;
		}
	}
	&__text {
		font-size: 1.4rem;
		font-family: "Hiragino Kaku Gothic ProN";
		letter-spacing: .22em;
		line-height: 2.1;
		margin-top: 56px;

		@include mq(sm) {
			width: 95%;
		}
	}
	&__text--wrapper {
		@include mq(sm) {
			margin-left: 21px;
		}
	}
}