.menu {
	&__wrapper {
		margin-left: 260px;
		margin-bottom: 100px;

		@include mq(md) {
			margin-left: 75px;
		}
		@include mq(sm) {
			margin-left: 8%;
		}
	}
	&__title--en {
		font-size: 1.4rem;
		font-family: "Helvetica";
		font-weight: 400;
		letter-spacing: 0.28em;
	}
	&__title--ja {
		font-size: 3.6rem;
		font-family: "Noto Sans JP";
		font-weight: 200;
		letter-spacing: 0.22em;

		@include mq(sm) {
			font-size: 3.2rem;
		}
	}
	&__text {
		font-size: 1.4rem;
		font-family: "Hiragino Kaku Gothic ProN";
		line-height: 2.2;
		margin-top: 56px;
		@include mq(sm) {
			width: 95%;
			margin-top: 45px;
		}
	}
	&__en {
		font-size: 2.4rem;
		font-family: "Helvetica";
		margin-top: 25px;
		letter-spacing: 0.18em;
	}
	&__ja {
		font-size: 1.2rem;
		font-family: "Noto Sans JP";
		margin-top: 8px;
		margin-bottom: 42px;
		letter-spacing: 0.18em;
	}
	&__img {
		background-size: cover;
	}
	&__list {
		display: flex;
		font-size: 1.2rem;
		font-family: "Helvetica";
		margin-left: 62%;
		line-height: 2.2;
		@include mq(md) {
			margin-left: 50%;
		}
	}
	&__price {
		font-weight: bold;
		margin-left: 40px;
	}
	&__grid {
		max-width: 800px;
		margin: 0 auto;
		display: grid;
		gap: 130px;
		grid-template-columns: 1fr 1fr;
		margin-top: 6px;
		margin-bottom: 50px;

		@include mq(md) {
		gap: 4%;
		margin-left: 2%;
		margin-right: 2%;
		}

		@include mq(sm) {
			width: 375px;
			padding-left: 4%;
			padding-right: 4%;
			display: grid;
			grid-template-columns: 1fr;
			gap: 60px;

		}
	}
}
