.news {
	margin-left: 260px;
	overflow: hidden;
	@include mq(md) {
		margin: 0 auto;
		padding-left: 4%;
	}


	&__title {
		font-size: 1.4rem;
		letter-spacing: 0.28em;
		font-family: "Helvetica";
		font-weight: normal;
		margin-top: 103px;
		margin-bottom: 15px;

		@include mq(md) {
			padding-left: 8%;
		}

		&--ja {
			font-size: 3.6rem;
			font-weight: normal;
			letter-spacing: 0.22em;
			font-family: "Noto Sans JP";
			margin-bottom: 56px;

			@include mq(md) {
				padding-left: 8%;
			}
		}
	}
	&__img {
		background-image: url(./img/news1.jpg);
		background-size: cover;
		width: 100px;
		height: 100px;
		margin-right: 40px;

		@include mq(sm) {
			margin-right: 20px;
		}
		&--2 {
			background-image: url(./img/news2.jpg);
			background-size: cover;
			background-position: center;
			background-color: #f8f7f5;
			width: 100px;
			height: 100px;
			margin-right: 40px;
			@include mq(sm) {
				margin-right: 20px;
			}
		}
		&--3 {
			background-image: url(./img/news3.jpg);
			background-size: cover;
			background-position: center;
			background-color: #f8f7f5;
			width: 100px;
			height: 100px;
			margin-right: 40px;

			@include mq(sm) {
				margin-right: 20px;
			}
		}
	}
	&__wrapper {
		display: flex;
		justify-content: flex-start;
		padding-top: 40px;
		padding-bottom: 41px;
		border-top: 1px dotted $cblack;
		border-bottom: 1px dotted $cblack;
		width: 960px;
		@include mq(md) {
			width: 96%;
		}
	}
	&__tag--wrapper {
		display: flex;
	}
	&__time {
		font-size: 1.4rem;
		font-family: "Helvetica";
		font-weight: nomal;
	}
	&__tag {
		background-color: #ea8e03;
		color: $cwhite;
		font-family: "Hiragino Kaku Gothic ProN";
		font-family: 600;
		margin-left: 35px;
		width: 94px;
		text-align: center;
	}
	&__text {
		font-size: 1.8rem;
		font-family: "Hiragino Kaku Gothic ProN";
		line-height: 2.7;
		font-weight: 600;
		margin-bottom: 27px;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 1.4;
			margin-top: 21px;
			margin-bottom: 7px;
		}
	}
	&__more {
		font-size: 1.4rem;
		font-family: "Hiragino Kaku Gothic ProN";
		font-weight: 300;
	}
}
a {
	display: block;
}